@import url(https://fonts.googleapis.com/css?family=Raleway);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#container:after {
  content: "";
  display: table;
  clear: both; }

.poketable, .poketable .poke-color, .pokechat {
  float: left; }

html, body {
  height: 100%; }

.pokeapp {
  height: 100%;
  font-family: 'Raleway', sans-serif; }
  .pokeapp > header {
    height: 60px;
    background-color: #E87E04;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    padding: 15px 0 0 25px;
    box-sizing: border-box; }

#container {
  height: 100%; }

.poketable {
  width: 30%;
  height: calc(100% - 60px);
  box-sizing: border-box;
  -webkit-box-shadow: -4px 12px 23px -2px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: -4px 12px 23px -2px rgba(0, 0, 0, 0.56);
  box-shadow: -4px 12px 23px -2px rgba(0, 0, 0, 0.56);
  z-index: 1000000;
  position: relative;
  background-color: #F2F1EF;
  color: #6C7A89; }
  .poketable img {
    border: 2px solid #03C9A9;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: rgba(162, 222, 208, 0.5);
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 10px; }
  .poketable > li {
    height: 85px;
    width: 98%;
    font-size: 20px;
    border-bottom: 1px solid gray;
    box-sizing: border-box; }
  .poketable .poke-color {
    width: 15px;
    height: 100%; }

.pokechat {
  width: 70%;
  height: calc(100% - 60px);
  background-color: #DADFE1;
  color: #6C7A89;
  overflow: scroll; }
  .pokechat > li {
    position: relative;
    left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 85%;
    height: 80px;
    padding: 13px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ECECEC;
    border-bottom-width: 3px;
    border-bottom-style: solid; }

@media screen and (max-width: 640px) {
  .pokechat {
    width: 100%;
    height: calc(100% - 145px); }
  .poketable {
    width: 100%;
    height: 85px;
    box-shadow: none; }
    .poketable > li {
      float: left;
      width: 100px;
      border: none; }
      .poketable > li > span {
        display: none; } }

@media screen and (max-width: 410px) {
  .pokechat > li {
    left: 5px;
    width: 90%; } }

@media screen and (min-width: 411px) and (max-width: 790px) {
  .pokechat > li {
    left: 20px; } }

@media screen and (min-width: 791px) and (max-width: 960px) {
  .pokechat > li {
    left: 35px; } }
